spring:
  application:
    name: pranu-blog

  profiles:
    active: dev

  jpa:
    open-in-view: false
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
    hibernate:
      ddl-auto: update

  mail:
    host: smtp.gmail.com
    port: 587
    username: ${SPRING_MAIL_USERNAME:thehostcode@gmail.com}
    password: ${SPRING_MAIL_PASSWORD:swbp feky rzci omtq}
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        debug: true

server:
  port: 1910
  error:
    include-message: always

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
    operations-sorter: method

# ----- TOP-LEVEL app section (NOT nested under spring) -----
app:
  jwt:
    secret: ${JWT_SECRET:C4UYUEVWWDowu7aVXlcr8FjmnCzEZAoyivPr94zw6zU}
    expiration: 10800000
  otp:
    expiration: 300000
    length: 6
  email:
    from: ${SPRING_MAIL_USERNAME:thehostcode@gmail.com}
    logo-url: https://1drv.ms/f/c/865403e1743e3bfe/IgASe0zh1ImGQL8tYrfKzOd4Acgsq4zzbDUAfQxpSM-zS1U?e=vV3qeG
  cors:
    allowed-origins: "*"

